.facex_content {
    padding-left: 0px !important;
    height:55px !important;
}

.levelbox {
    float:left;
    height: 50px;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 4px;
}

.faceit-banned {
    font-family: Play, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.6;
    display: inline-block;
    background-color: red;
    color: rgb(255, 255, 255);
    text-transform: initial;
    border-radius: 2px;
    padding: 0px 8px;
    vertical-align: middle;
}

.facex_description {
    display:block;
    margin-top: -10px;
    font-size: 12px;
    text-transform: capitalize;
}

.facex_country {
    height: 14px;
}

.facex_stat {
    font-size:25px !important;
    text-align:center;
}

.facex_namerow {
    max-width: 220px;
    overflow: hidden !important;
    margin-top: 10px !important;
}

/* .facex_namerow > span:nth-child(1) {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #62a7e3;
    opacity: 0.9;
    font-style: italic;
} */

.facex_stats_row {
    position:unset !important;
    float:right;
    margin-right: 10px;
    margin-top: -5px;
}

.facex_stats_row2 {
    position:unset !important;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 5px; 
    margin-bottom: 5px;
    padding-bottom: 9px;
}

.facex_stat .value {
    margin-bottom: 3px;
}

.facex_stat .label {
    text-transform: uppercase;
    font-size: 11px !important
}

.facex_stats_block {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    float: right;
    width: 380px;
    justify-content: right;
}

.last20 {
    color: #62a7e3;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 13px;
}